<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Description">
    <meta name="author" content="@Properties["project-author"]">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="@Root/../content/style.ja.css" />
	<link type="text/css" rel="stylesheet" href="@Root/../content/fcs.css" />
    <script type="text/javascript" src="@Root/../content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="https://fsharp.org">fsharp.org</a></li>
          <li><a href="@Properties["project-github"]">github page</a></li>
        </ul>
        <h3 class="muted">@Properties["project-name"]</h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          @RenderBody()
        </div>
        <div class="span3">
           <a href="https://nuget.org/packages/FSharp.Compiler.Service">
            <img src="@Root/../images/logo.png" style="width:140px;height:140px;margin:10px 0px 0px 35px;border-style:none;" />
          </a>
          <ul class="nav nav-list" id="menu">
            <li class="nav-header">
			<a href="@Root/../ja/index.html" class="nflag"><img src="@Root/../images/ja.png" /></a>
            <a href="@Root/../index.html" class="nflag nflag2"><img src="@Root/../images/en.png" /></a>
			@Properties["project-name"]
			</li>
            <li><a href="@Root/index.html">ホームページ</a></li>
            <li class="divider"></li>
            <li><a href="@Properties["project-nuget"]">NuGet経由でライブラリを取得</a></li>
            <li><a href="@Properties["project-github"]">GitHub上のソースコード</a></li>
            <li><a href="@Properties["project-github"]/blob/master/LICENSE">ライセンス</a></li>
            <li><a href="@Properties["project-github"]/blob/master/RELEASE_NOTES.md">リリースノート</a></li>

            <li class="nav-header">はじめに</li>
            <li><a href="@Root/index.html">ホームページ</a></li>
            <li><a href="@Root/devnotes.html">開発者用メモ</a></li>
            <li><a href="@Root/fsharp-readme.html">F#コンパイラのreadme</a></li>

            <li class="nav-header">利用可能なサービス</li>
            <li><a href="@Root/tokenizer.html">F#言語トークナイザ</a></li>
            <li><a href="@Root/untypedtree.html">型無しASTの処理</a></li>
            <li><a href="@Root/editor.html">エディタ(IDE)のサービスを使用する</a></li>
            <li><a href="@Root/symbols.html">解決済みのシンボルを使用する</a></li>
            <li><a href="@Root/project.html">プロジェクト全体の分析</a></li>
            <li><a href="@Root/interactive.html">F# Interactiveの組み込み</a></li>
            <li><a href="@Root/compiler.html">F#コンパイラの組み込み</a></li>
            <li><a href="@Root/filesystem.html">ファイルシステムの仮想化</a></li>

            <li class="nav-header">リファレンス</li>
            <li><a href="@Root/../reference/index.html">API リファレンス</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="@Properties["project-github"]"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
  </html>
